/* Background Colors */
$color-bg-b2b-general: #ecedec;
$color-bg-b2b-header: #3e5366;
$color-bg-b2b-sidebar: #3e5366;
$color-bg-b2b-sidebar-submenu: #495e73;
$color-bg-b2b-page-title: #e5e5e5;
$color-bg-b2b-main: #f7f7f7;
$color-bg-b2b-table-header: #e5e5e5;
$color-bg-b2b-table-row-odd: #e5e5e5;
$color-bg-b2b-footer: #495e73;
$color-bg-b2b-search-box: #36495a;
$color-bg-b2b-header-toplinks: #1ca8dd;

/* Text Colors */
$color-text-heading1: #36495a;
$color-text-sidebar-links: #fff;
$color-text-sidebar-submenu-links: #919eab;
$color-text-footer: #919eab;
$color-text-table-header: #7f7f7f;
$color-text-default: #7f7f7f;

/* Border Colors */
$color-border-page-title: #1ca8dd;

/* Element Colors */
$color-button-default: #1ca8dd;
$color-button-text-default: white;
$color-button-gray: #747474;

/* General Colors */
$color-green: #1bbc9b;