@mixin animation-delay($seconds) {
    -webkit-animation-delay: $seconds;
       -moz-animation-delay: $seconds;
        -ms-animation-delay: $seconds;
         -o-animation-delay: $seconds;
            animation-delay: $seconds;
}
@mixin transform($fn) {
    -webkit-transform: $fn;
    -moz-transform: $fn;
    -ms-transform: $fn;
    -o-transform: $fn;
    transform: $fn;
}
@mixin linear-gradient($from, $to) {
    background: -webkit-linear-gradient($from, $to);
       background: -moz-linear-gradient($from, $to);
         background: -o-linear-gradient($from, $to);
            background: linear-gradient($from, $to);
}
@mixin border-radius($v) {
  -webkit-border-radius: $v;
  -moz-border-radius: $v;
  border-radius: $v;
}
@mixin placeholder {
    ::-webkit-input-placeholder { @content }
    ::-moz-placeholder { @content } /* firefox 19+ */
    :-ms-input-placeholder { @content } /* ie */
    input:-moz-placeholder { @content }
}