html,
body
{
  height: 100%;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
section[role="page"] {
    padding-top: 20px;
    padding-bottom: 20px;
}
a:focus,
a:hover,
a:visited {
	text-decoration: none;
}
.mt50 {
	margin-top: 50px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 10px;
}