/* Declaro todas las variables a utilizar */

$color_danger: #ce4844;
$color_info: #1b809e;
$color_warning: #aa6708;

$color-magenta: #E31D58;
$color-turquoise: #01C0B3;
$color-yellow: #ECC141;
$color-skyblue: #28B4D1;
$color-gray: #CCCCCC;
$color-darkgray: #808080;
$color-lightgray: #F2F2F2;

$body-default-padding: 50px;
$body-default-padding-mobile: 25px;
$page-title-padding: 70px;

$xxs-w: 319px;
$xs-w: 320px;
$s-w: 414px;
$m-w: 1024px;
$l-w: 1280px;
$xl-w: 1440px;
$xxl-w: 1600px;
$xxxl-w: 1920px;
$xxxxl-w: 2560px;

$xxsmall-screens-max-width: 319px;
$xsmall-screens-min-width: 320px;
$xsmall-screens-max-width: 413px;
$small-screens-min-width: 414px;
$small-screens-max-width: 1023px;
$medium-screens-min-width: 1024px;
$medium-screens-max-width: 1279px;
$large-screens-min-width: 1280px;
$large-screens-max-width: 1439px;
$xlarge-screens-min-width: 1440px;
$xlarge-screens-max-width: 1599px;
$xxlarge-screens-min-width: 1600px;
$xxlarge-screens-max-width: 1919px;
$xxxlarge-screens-min-width: 1920px;
$xxxlarge-screens-max-width: 2559px;
$xxxxlarge-screens-min-width: 2560px;

$bp-width-desktop: 70em;
$bp-width-laptop: 64em;
$bp-width-tablet: 50em;
$bp-width-phablet: 37.5em;
$bp-width-mobileonly: 37.5em;

$container-width-desktop: 78em;
$container-width-laptop: 64em;
$container-width-tablet: 50em;
$container-width-phablet: 37.5em;
$container-width-mobileonly: 37.5em;